{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-preview">

      <div class="post-meta">
          <p>Toys for Tots, Angle Tree, Holiday Heros, are all charities that help underprivileged kids have a
          great Christmas with Toys and other more practical items (clothes, shoes, coats, etc.).</p>
          
          <p>The software available to large scale organizations is often too expensive to purchase or much
          too difficult to administer and deploy by the “small” charities. If a group wants to help less than
          1,000 children. There are some older legacy systems that require physical paper forms (gasp).
          Our software will be basic but have a few key features to enable smaller charities to assist in
          these functions
          </p>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

