{% extends "layout.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
 
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <h1> Organization Info </h1>
  </div>
</div>
<div class="row" id="childrenInfo">
  
  <div class="col-sm-6">
    <div class="row">[[child.name]] ([[child.age]][[child.sex]])</div>
    <div class="row">Email: [[child.email]]</div>
    <div class="row">Address: [[child.address]]</div>
    <div class="row">Shirt Size: [[child.cloth_size]]</div>
    <div class="row">Pant Size: [[child.pant_size]]</div>
    <div class="row">Shoe Size: [[child.shoes_size]]</div>
  </div>

  <div class="col-sm-6"> <!-- change these rows to iterate over the array-->>
    <div class="row">[[child.items[0].name]]: $[[child.items[0].amount]]</div>
    <div class="row">[[child.items[1].name]]: $[[child.items[0].amount]]</div>
	<div class="row">[[child.items[2].name]]: $[[child.items[0].amount]]</div>
	
    <div class="row">Total Price: [[getTotalGiftPrice()]]</div>2
  </div>

</div> 
{% endblock %}

{% block script %}
  <script>
    var app = new Vue({
      el: "#childrenInfo",
      delimiters: ['[[', ']]'],
      data: {
        child: {
          id: 0,
          email: "",
          name: "Joe Bob",
          phone: "",
          age: 7,
          about_me: "",
          address: "",
          cloth_size: "",
          sex: "M",
          gender: "",
          pant_size: "",
          shoes_size: "",
          fav_color: "",
          items: [
                {id:0, name:"bike", price: 12},
                {id:1, name:"yoyo", price: 12},
                {id:2, name:"doggie", price: 12}
              ]
        }

      },
      methods: {
          fetchData: function(){
              this.$http.get('/test').then(response => {
                  console.log(response.body);
                  this.child =  response.body;
              }, error => {
                  console.log(error);
              });
          }
      }
    });
  </script>
  {% endblock %}

